/*Screen sizes*/

$screen-small: "576px";
$screen-medium: "768px";
$screen-large: "992px";
$screen-xlarge: "1200px";

/* Fonts */

$main-font: "Lato",
sans-serif;

/* Font sizes */

$font-size-base: 1.6rem !default;

/* Background color */

$bg-black: #222222;
$bg-white: #ffffff;
$bg-green: rgba(112, 238, 101, 0.822);
$bg-gray: #e1e1e1;

/* Colors */

$black: #222222;
$white: #ffffff;
$green: rgba(112, 238, 101, 0.822);