/** Header **/

.bg-hero {
    background-color: $bg-black;
    padding-top: 6rem;
}

.navegacion {
    margin-left: 1rem;
    text-transform: uppercase;
    color: $white;
}

.text-header {
    color: $white;
    text-align: center;
}

.text-line::before {
    content: "";
    display: block;
    width: 8rem;
    height: 0.5rem;
    background-color: $bg-green;
    margin: auto;
}

.bg-header {
    background-image: url(../img/Hero.jpg);
    background-position: center center;
    background-size: cover;
    height: 80vh;
}

.tittle-header {
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

.date-direction {
    padding-top: 12rem;
}

.date {
    margin-right: 13rem;
}

i.icons {
    margin-right: 1rem;
}

.icons {
    margin-right: 2rem;
    font-size: 2rem;
}

.icons:hover {
    color: $green;
}