.bg-hero {
    background-color: black;
    padding-top: 6rem;
}

.navegacion {
    margin-left: 1rem;
    text-transform: uppercase;
    color: $white;
}

.text-header {
    color: $white;
    text-align: center;
}

.text-line::before {
    content: "";
    display: block;
    width: 8rem;
    height: 0.5rem;
    background-color: $bg-green;
    margin: auto;
}