/** Contacto **/

.margin-contact {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.content-center {
    max-width: 800px;
}

.contact p {
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

textarea {
    height: 20rem;
}